.home{
    width: 100vw;
    background-color: #f0f2f5;
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}
.homes{
    width: 100vw;
    background-color: #f0f2f5;
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}
.homeSlider{
    width: 87%;
    display: flex;
}
.homeSliders{
    width: 87%;
    display: flex;
}

@media screen and (max-width:1000px) {
    .homeSlider{
        flex-direction: column;
        width: 87%;
    }
    .homeSliders{
        width: 87%;
        display: flex;
    }
}
@media screen and (max-width:765px) {
    .homeSlider{
        flex-direction: column;
        width: 97%;
    }
    .homeSliders{
        width: 100%;
        display: flex;
    }
    .homes{
        margin: 0px 0 20px 0;
    }
}