.topbarContainer{
    width: 100vw;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    z-index: 999;
    top: 0; */
}
.topbarWrapper{
    width: 87%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.topbarRight{
}
.topbarRight{
    display: flex;
    align-items: center;
}
.topbarRight img {
    height: 36px;
    /* width: 100px; */
    object-fit: cover;
}
.topbarRight h3 {
    color: black;
    letter-spacing: 4px;
    padding: 0;
    margin: 0 5px;
    font-size: 17px;
}
.topbarLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbarLeftInfo{
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    position: relative;
}
.absolute{
    position:absolute;
    width:15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: 0;
    left:1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute span{
    color: #fff !important;
    font-size: 10px !important;
}
.topbarLeftInfo span{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 600;
}
.topbarLeftInfo:hover{
    background-color: #eee;
    border-radius: 10px;
}
.hidden{
    display: none;
}










@media screen and (max-width:1000px){
    .topbarRight{
        flex: 20;
    }
    .hidden{    
        display: block !important;
    }
    .topbarLeftInfo{
        display: none;
    }
    .topbarWrapper{
        justify-content: space-between;
    }
}
@media screen and (max-width:764px){
    .hidden{
        display: block !important;
    }
    .topbarLeftInfo{
        display: none;
    }
    .topbarWrapper{
        justify-content: space-between;
    }
}