.homeFashion{
   width: 100vw;
   background-color: #eee;
   display: flex;
   justify-content: center;
}
.homeFashionWrapper{
    margin-top: 50px;
    width: 87%;
}
.homeFashionTop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homeFashionTop h5{
    font-size: 40px;
    line-height: 30px;
    text-shadow: 2px 0 3px #000;
    margin-bottom: 10px;
    color: black;
    opacity: 0.8;
    margin-bottom: 15px;
}

.homeFashionBottom{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.homeFashionBottomImg{
    width: 373px !important;
    height: 256px !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px !important;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-right:20px
}
.homeFashionBottomTop{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.homeFashionBottomTop img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease
}
.homeFashionBottomTopP{
    color: #000 !important;
    font-size: 15px !important;
    text-decoration: none !important;
}
.homeFashionBottomCenter{
    margin-left: 30px;
    margin-bottom: 40px;
}
.homeFashionBottomCenter > h5{
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 10px;
    color: black;
}
.homeFashionBottomCenter > span{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #b6b6b6;
}
.More{
    margin-bottom: 46px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width:1360px) {
    .homeFashionBottom{
        flex-direction: row;
    }
    .homeFashionBottomImg {
        width: 47% !important;
        border-radius: 10px !important;
        margin-bottom: 23px;
    }
}
@media screen and (max-width:765px) {
    .homeFashionWrapper{
        width: 100%;
    }
    .homeFashionBottom{
        flex-direction: column;
    }
    .homeFashionBottomImg{
        width: 90% !important;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}