.flash{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MuiLink-underlineHover:hover {
    text-decoration: none !important;
}
.flashWrapper{
    width: 87%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.flashTop{
    display: flex;
    height:70px;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
}
.flashTop h5{
    font-size: 36px;
    color: black;
    font-weight: 700 ;
    text-align: center;
    margin: 18px 0 0 0;
}
.flashTop h6{
    font-size: 18px;
    color: red;
    font-weight: 700 ;
    margin: 10px 0 0 0;
}

.flash span{
    font-size: 15px;
    margin: 10px 0 0 0;
    color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}
.flash span:hover{
    background-color: rgb(72, 72, 72);
}
.flashBottom{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;  
    justify-content: space-between;
    position: relative
}
.cover{
    width: 270px;
    height: 320px;
}
.TopSALE{
    width: 270px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.addTo{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 3px;
    left: 6px;
    width:100%
}
.Topsale{
    padding: 15px;
}
.cover button{
   visibility: hidden;
}

.cover:hover button{
    visibility: visible;
    transition: all 0.5s ease;
}
.css-hcti34-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(32, 32, 32) !important;
   
}
.css-ov41yh-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(233, 233, 233) !important;
}
.TopSALE img{
    max-width: 200px;
    max-height: 180px;
    object-fit: contain;
    margin-top: 20px;
}
.Topsale h5{
    font-size: 17px;
    font-weight: 700;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}
.Topsale p{
    font-size: 15px;
    width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #bab6b6;
    margin-top: 10px;
}
.TopsaleBot{
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;
    align-items: center;
}
.disc{
    font-size: 15px;
    color: green;
    border: 2px solid green;
    width: 50px;
    font-weight: 700;
    height: 23px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rev{
    font-size: 15px;
    color: #bab6b6;
}
.disable,.disable {
  pointer-events: none;
  box-shadow: none;
  color: #999 !important;
  display: none;
}
.backs{
    font-size: 30px !important;
    position: absolute;
    top:40%;
    margin-left: 10px;

}
.nexts{
    right: 4px;
}
@media screen and (max-width:765px) {
    .flashWrapper{
        width: 100%;
    }
    .flashBottom{
        width: 100%;
        flex-wrap: nowrap;  
        overflow-x: scroll !important;  
    }
   .flashTop{
        flex-direction: column;
        height: 125px;
        margin-top: 10px;
   }
   .cover{
        margin-right: 20px;
    }
  
}
@media screen and (max-width:1000px) {
    .flashBottom{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;  
        overflow-x: scroll !important;  
    }
  
}