.products{
    width: 100vw;
    overflow-x:hidden;
}
.productsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productFilter{
    width: 85%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.productFilterLeft,.productFilterRight{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.productFilterLeft >li ,.productFilterRight > li{
    padding: 5px;
    margin-right: 20px;
    border-radius: 20px;
    border:  1px solid rgb(160, 160, 160);
    /* width: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s linear;

}
.productFilterLeft >li:nth-child(6) {
    display:none;
}
.productFilterLeft >li:hover,.productFilterRight > li:hover {
    border:  1px solid black;

}
.productsProduct{
    width:85%;
    display: flex;
    flex-wrap: wrap;
}
.productsListsWrapper{
    padding: 20px;
    width: 19%;
    height: 300px;
    margin: 5px 29px 5px 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
 }
 .productsListsWrapper button{
    visibility: hidden;
 }
 
 .productsListsWrapper:hover button{
     visibility: visible;
     transition: all 0.5s ease;
 }
.productListsTop{
    width: 100%;
    height: 200px;
    margin: 5px 0px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.productListsTop img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-left: 30px; */
}
.productListsBottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.productListsBottom h5{
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productListsBottom p{
    margin: 10px 0;
    padding: 0;
    font-size: 15px;
    color: black;
    text-decoration: line-through;
} 
/*.productListsButton{
    background-color: #e61601;
    color: white;
    border: none;
    border-radius: 5%;
    width: 100%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.5s ease;
}
.productListsButton:disabled{
    cursor: not-allowed;
}
.productsListsWrapper:hover{
    -webkit-box-shadow:0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
}
.productsListsWrapper:hover button{
    visibility: visible;
}
.productsListsWrapper:hover button:disabled{
    cursor: not-allowed;
}
*/


@media screen and (max-width:1365px) {
    .productsListsWrapper{
        width: 26%;
        margin: 5px 30px 10px 0px;
     }
     .productListsBottom h5{
        width: 250px;
     }
}
@media screen and (max-width:1050px) {
    .productsListsWrapper{
        width: 25%;
        margin: 5px 14.4px 10px 0px;
     }
     .productListsBottom h5{
        width: 250px;
     }
}
@media screen and (max-width:1145px) {
    .productsListsWrapper{
        width: 26%;
        margin: 5px 14.4px 10px 0px;
     }
     .productListsBottom h5{
        width: 200px;
     }
}
@media screen and (max-width:1000px) {
    .productsListsWrapper{
        width: 25%;
        margin: 5px 16px 10px 0;
     }
     .productListsBottom h5{
        width: 150px;
     }
}
@media screen and (max-width:765px) {
    .productsListsWrapper{
        width: 40%;
        margin: 5px 16px 10px 0;
     }
     .productListsBottom h5{
        width: 200px;
     }
     .productFilterLeft >li:nth-child(6) {
        display:flex !important;
    }
     .productFilterLeft >li {
        display:none;
    }
}
@media screen and (max-width:650px) {
    .productsListsWrapper{
        width: 100%;
        /* margin: 5px 16px 10px 0; */
     }
     .productListsBottom h5{
        width: 300px;
     }
     .productFilterLeft >li:nth-child(6) {
        display:flex !important;
    }
     .productFilterLeft >li {
        display:none;
    }
}