.topDisplay{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-shadow:0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
    background-color: #fff;
}
.topDisplayWrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:20px
}
.topDisplayRight{
    flex: 1 1 50%;
}
.topDisplayRIghtWrapper{
    width: 100%;
    
}
.topDisplayRIghtWrapper >h4{
    font-weight: 800;
    font-size: 25px;
    color: #e61601;
    padding: 0;
    margin: 10px 0 10px 10px;
}
.topDisplayRIghtWrapper > h4+span{
    font-size: 20px;
    font-weight: 800;
    color: black;
    margin: 0px 0 10px 10px;

}
.topDisplayRIghtWrapper > span +p{
    font-size: 15px;
    font-weight: 800;
    text-decoration: line-through;
    color: rgb(182, 179, 179);
    margin: 0px 0 10px 10px;

}
.topDisplayAvail{
    display: flex;
    align-items: center;
    margin: 0px 0 10px 0px;
    padding-left: 10px;
    height: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(182, 179, 179);
}
.topDisplayAvail >span{
    font-size: 13px;
    color: black;
    padding-right: 25px;
    margin: 0px 15px 0px 0px;
    border-right: 1px solid rgb(182, 179, 179);
}
.topDisplayAvail >span + p{
    font-size: 13px;
    color: black;
    
}
.topDisplayAvail + p{
    font-size: 13px;
    color: black;
    margin: 0px 0px 10px 0px;
    text-align: justify;
    padding-bottom: 10px;
    padding-Left: 10px;
    padding-Right: 10px;
    border-bottom: 1px solid rgb(182, 179, 179);
}
.topDisplayAvail + p + h5{
    font-size: 13px;
    color: black;
    font-weight: 800;
    margin: 0px 0px 10px 10px;

}
.QtyWrapper{
    margin: 0px 15px 0px 10px;
    position: relative;
    display: inline-block;

}
.qty{
    margin-right: 30px !important;
    float: left;
}
.float-left{
    margin: 8px 15px 0 0;
    font-size: 13px;
    float: left;
}
.qty > p ~ input{
    border: 1px solid #dedede;
    padding: 3px 10px;
    margin: 4px 0 0 0;
    outline: none;
    background: #f7f7f7;
    margin-left: 15px !important;
}
.size{
    float: left;
}
.size select{
    height: 20px;
    border: 1px solid #dedede;
    padding: 5px 10px;
    margin: 4px 0 0 0;
    outline: none;
    background: #f7f7f7;
}
.topDisplayLeft{
    flex: 1 1 40%;
    margin-right: 20px;
}
.addbtn{
        color: #fff;
        background-color: #e61601;
        text-align: center;
        padding: 4px;
        border:none;
        margin-bottom: 5px;
        width: 97%;
        cursor: pointer;
}
.addbtn:disabled{
        cursor: not-allowed;
}


@media screen and (max-width:700px) {
    .topDisplayWrapper{
        display: flex;
        flex-direction: column;
    }
    .topDisplayLeft{
        flex: 1 1 100%;
    }
    .topDisplayRight{
        flex: 1 1 100%;
    }
    .topDisplayRIghtWrapper >h4 {
        font-size: 20px;
       
    }
    .addbtn {
        margin: 10px 10px 10px 10px ;
        width: 95%;
    }
}




/* Middel display css */

.middleDisplay{
    width: 100%;
}
.middleDisplayWrapper{
    display: flex;
    justify-content: center;
    border-top: 1px solid #dedede;
    height: 50px;
    list-style: none;
}
.middleDisplayWrapper li{
    color: black;
    font-size: 17px;
    width: 150px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    padding: 15px;
    text-align: center;
}
.middleDisplayWrapper li:hover{
    border-top: #e61601 3px solid;
}
.btnactive{
    border-top: #e61601 3px solid !important;
}
.midelle {
    margin: 0px 30px 20px 20px;
}
.midelle p{
    text-align: justify;
    font-size: 14px;
    line-height: 30px;
    /* word-break: break-all; */
    white-space: wrap;

}
.midell{
    margin: 0px 30px 20px 20px;
    display: flex;
}
.midelleTop{
    
}
.midelleTop img{
    width: 70px;
    height:70px;
    border-radius: 50%;
}
.midelleBottom{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.midelleBottom h5{
    margin-top: 0;
    font-size: 20px;
    color: black;
    font-weight: 800;
    margin-bottom: 5px;
}
.midelleBottom span{
    font-size: 13px;
    color: rgb(222, 220, 220);
    margin-bottom: 8px;
}
.midelle p{
    text-align: justify;
    font-size: 14px;
    line-height: 30px;
    /* word-break: break-all; */
    white-space: wrap;
}
@media screen and (max-width:760px) {
    .middleDisplayWrapper {
        padding: 0;
    }
    .middleDisplayWrapper li {
        font-size: 15px;
        padding: 15px 0px 0 7px;
    }
}