.promotionTwo{
    width:100vw;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.promotionTwoWrapper{
    width: 100%;
    height: 250px;
    background-color: rgba(254, 252, 232, 0.7);
    display: flex;
    padding: 70px 30px;
    position: relative;
    justify-content: flex-end;
}
.promotionTwoTop{
    position: absolute;
    top: -50px;
    left: 163px
}
.promotionTwoTop img{
    width: 51%;
    height: 100%;
    object-fit: fill;
  
}
.promotionTwoBottom{
    width:40%;
    display: flex;
    flex-direction:column;
    margin-right: 50px;
    justify-content:flex-end
} 
.promotionTwoBottom h4{
    color:black;
    font-size:35px;
    margin:5px;
}
.promotionTwoBottom h2{
    color:black;
    font-size:15px;
    margin:10px;
    font-weight: 800;
}
.promotionTwoBottom span{
    color:black;
    font-size:15px;
    margin:5px;
}
.promotionTwoBottom button{
    background-color:black;
    font-size:15px;
    margin:5px;
    padding:10px;
    color:white;
    border:none;
    width: 150px
}


@media screen and (max-width:1000px) {
    /* .promotionTwoTop{
        width: 50%;
    }
    .promotionTwoBottom{
        width:40%;
    } 
    .promotionTwoBottom h4{
        font-size:17px;
    }
    .promotionTwoBottom h2{
        font-size:22px;
    } */
}
@media screen and (max-width:765px) {
    .promotionTwoBottom{
        width:100%;
        margin-right: 0px;
        justify-content:flex-end
    } 
    .promotionTwoBottom h4{
        font-size:20px;
    }
    .promotionTwoBottom h2{
        color:black;
        font-size:12px;
    }
    .promotionTwoBottom span{
        color:black;
        font-size:12px;
        margin:5px;
    }
    .promotionTwoBottom button{
        
    }
    .promotionTwo{
        margin-top: 50px;
    }
    .promotionTwoWrapper{
        justify-content: center;
    }
    .promotionTwoTop{
        position: absolute;
        top: -50px;
        left: 95px
    }

    .promotionTwoTop img{
        width: 75%;
        height: 100%;
        object-fit: fill;
      
    }
}