.TopCart{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.TopCartWrapper{
    width: 87%;
    background-color: white;
    /* height: 290px; */
    display: flex;
    flex-direction: column;
    -webkit-box-shadow:0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
}
.TopCartTop{
    background-color: #e61601;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TopCartTop h5{
    margin-left: 10px;
    font-size: 23px;
    color: white;
    font-weight: 700 ;
}
.TopCartTop h6{
    font-size: 17px;
    color: white;
    font-weight: 700 ;
}
.TopCart span{
    margin-right: 10px;
    font-size: 14px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}
.TopCart span:hover{
    background-color: #ed311c;
}
.TopCartBottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
}
.TopCartBottomCard{
    margin: 15px 18px;
    width: 200px;
    /* background-color: black; */
}
.TopCartBottomCard img{
    width: 170px;
    height: 150px;
    object-fit: cover;
}
.TopCartBottomCard h5{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
}
.TopCartBottomCard span{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black;
}
.TopCartBottomCard p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black;
}

@media screen and (max-width:700px) {
    .TopCartWrapper{
        width: 100%;
    }
    .TopCartBottom{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;  
        overflow-x: scroll !important;  
    }
    .TopCartTop h5{
        margin-left: 10px;
        font-size: 17px;
        color: white;
        text-align: center;
    }
    .TopCartTop h6{
        font-size: 12px;
        color: white;
    }
    .TopCart span{
        margin-right: 3px;
        font-size: 14px;
        padding: 4px;
        border-radius: 5px;
    }
    .TopCartBottomCard{
        margin: 15px 18px;
        width: 100px;
        /* background-color: black; */
    }
    .TopCartBottomCard img{
        width: 120px;
        height: 100px;
        object-fit: cover;
    }
}