.TopCart{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.TopCartWrapper{
    width: 100%;
    background-color: #2a2a2a;
    background-image: url(../../../public/Images/bg.png);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow:0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
}
.TopCartTop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TopCartTop h5{
    font-size: 30px;
    color: white;
    font-weight: 700 ;
    margin: 20px 0;
}

.TopCartBottom{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}
.TopCartBottomCard{
    display: flex;
    justify-content: space-around;
    width: 450px;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 30px;
    position: relative;/* background-color: black; */
}

.TopCartBottomCard img{
    width: 420px;
    height: 200px;
    object-fit: cover;
}
.catDesc h5{
    font-size: 30px;
    line-height: 30px;
    text-shadow: 2px 0 3px #000;
    margin-bottom: 5px;
    font-weight: 800;
    color: #fff;

}
.catDesc{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left:41px;
    top: 70px;
    
}
.catDesc h6{
    font-size: 20px;
    color: #fff;
    margin-top: 0px;
}
.catDesc h6:hover{
    border-left: 10px solid #f4a51c;
    transition: all .2s ease;
    padding-left: 5px
}

@media screen and (max-width:1000px) {
    .TopCartBottom{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;  
        overflow-x: scroll !important;  
    }
    .TopCartBottomCard{
        margin: 15px 18px 15px 0;
    }
}
@media screen and (max-width:765px) {
    .TopCartWrapper{
        width: 100%;
    }
    .TopCartBottom{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;  
        overflow-x: scroll !important;  
    }
    .TopCartTop h5{
        font-size: 25px;
        margin: 10px 0;
    }
    .TopCartTop h6{
        font-size: 12px;
        color: white;
    }
    .TopCart span{
        margin-right: 3px;
        font-size: 14px;
        padding: 4px;
        border-radius: 5px;
    }
    .TopCartBottomCard{
        margin: 15px 18px 15px 0;
        width: 100px;
        /* background-color: black; */
    }
    .TopCartBottomCard img{
        width: 120px;
        height: 100px;
        object-fit: cover;
    }
    .catDesc{
        left:4px;
        top: 34px;
    }
    .catDesc h5{
        font-size: 15px;
        line-height: 15px;
    }
    .catDesc h6{
        font-size: 12px;
    }
}