.footer{
    margin-top: 50px;
    width: 100vw;
    border: 1px solid rgb(109, 109, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  
}
.footerWrapper{
    width: 87%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footerOne{
    display: flex;
    margin-right: 5px;
    flex-direction: column;
}
.footerOne h4 {
    font-size: 17px;
    color: black;
    margin-bottom: 15px;
    opacity: 0.8;
}
.footerOne >ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    list-style: none;
}
.footerOne > ul >li{
    color: black;
    margin-bottom: 12px;
    font-size: 14px;
    opacity:0.6;
    cursor: pointer;
}
.footerOne > ul >li:hover{
    opacity:0.8;
}
.footerBottom{
    width: 87%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}
.footerBottom span{
    font-size: 15px;
    color: white;
    padding: 5px;
    text-align: center;
}


@media screen and (max-width:700px) {
    .footer{
        height: 670px;
    }
    .footerOne{
        width: 40%;
        margin-right: 51px;
    }
    .footerOne:nth-child(even){
        margin-right: 0px;
    }
    .footerWrapper{
        justify-content: center;
    }
    .footerOne h4 {
        font-size: 15px;
    }
}