.homeFashion{
    flex:5;
}
.homeFashionWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
    background-color: white;
}
.margin{
    margin-right: 5px;
    margin-left: 5px;
}
.homeFashionTop{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeFashionTopH5{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #e61601;
}
.homeFashionTop h5{
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: white;
    margin-left: 10px;
}
.homeFashionTop span{
    font-size: 12px;
    color: black;
    cursor: pointer;
    margin-right: 10px;
   transition: all 0.5s;
}
.homeFashionTop span:hover{
    color: #f43d29;
}
.homeFashionMiddle img{
    width: 100%;
    height: 70px;
    object-fit: cover;
    transition: all 0.7s ease;
}
.homeFashionMiddle img:hover{
    transform: scale(1.09);
}
.homeFashionBottom{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    
}
.homeFashionBottomImg{
    width: 134px !important;
    height: 150px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dedede;
}
.homeFashionBottomImg img{
    width: 60px;
    height: 60px;
    margin: 4px;
    object-fit: cover;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease
}
.homeFashionBottomImg button{
    visibility: visible;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    background-color: #e61601;
    padding: 2px;
    border: none;
    cursor: pointer;
}
.homeFashionBottomImg img:hover{
    transform: scale(1.1);
}
.homeFashionBottomImg h5{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 800;
    color: #e61601;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:125px;
}
.homeFashionBottomImg span{
    margin: 2px 0;
}
.homeFashionBottomImg p{
    padding: 0;
    margin: 0;
    text-decoration: line-through;
}


@media screen and (max-width:1000px) {
    .homeFashion{
        flex: 5 1 100% !important;
    }
    .homeFashionWrapper{
        width: 100%;
    }
    .margin{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .homeFashionBottomImg{
        width: 108px !important;
        height: 133px !important;
    }
    .homeFashionBottomImg img{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:765px) {
    .homeFashion{
        flex: 5 1 100% !important;
    }
    .homeFashionWrapper{
        width: 97%;
    }
    .margin{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .homeFashionBottomImg{
        width: 109px !important;
        height: 133px !important;
    }
    .homeFashionBottomImg img{
        width: 50px;
        height: 50px;
    }
    .homeFashionBottomImg h5{
       
        width:104px;
    }
}