.singleProduct{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.singleProductTop{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
