.singleProduct{
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.singleProductTop{
    display: flex;
    width: 87%;
    justify-content: center;
    align-items: center;
}
