.adminSide{
    flex: 1 1;
}
.adminSideWrapper{
    background-color: #fff;
    -webkit-box-shadow:0px 1px 16px -8px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
    height: calc(100vh - 50px);
}
.adminSideWrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.adminSideWrapper ul > li {
    padding: 12px;
}

.adminSideWrapper ul > li:hover {
    background-color: rgb(215, 213, 213);
}
.mouseOver {
    padding: 1px !important;
    transition: all 1s ease-in-out;
}
.mouseOver:hover{
    background-color: #fff !important;
}
.mouseOver ul > li {
    padding: 3px !important;
    margin-left: 17px;
}

.detail{
    color: black !important;
    font-size: 1.0rem;
    margin-left: .3rem;
}