.adminsignin{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    
}
.adminsignin input{
    padding-left: 40px;
    padding-top: 10px;
}
.adminsigninForm{
    background-color: #fff;
    margin-top: 100px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.adminsigninForm h4{
    color: #e61601;
    font-size: 25px;
    text-align:center;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.adminsigninTop{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;

}
.adminsigninTop input{
    flex: 1 1;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 7px;
    font-size: 15px;

}

.adminsigninTop input:first-child{
    margin-right: 20px;

}
.adminsigninTop input:focus{
    outline: none;
}
.adminsigninTop2{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.adminsigninTop2 input{
    padding: 7px;
    font-size: 15px;
    margin-right: 10px;
}
.adminsigninTop2 input:checked{
    background-color: #e61601;
}
.adminsigninTop2 span{
    letter-spacing: 3px;
    font-size: 14px;
}
.adminsigninTop2 a{
    letter-spacing: 3px;
    text-decoration: underline;
    margin-right: 5px;
    font-size: 14px;
    color: #e61601;
}
.adminsigninTop2 button{
    width: 100%;
    padding: 10px;
    background-color: #e61601;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in;

}
.adminsigninTop2 button:hover{
    background-color: #f73621;
}
.adminsigninForm p{
    text-align: center;
}
.adminsigninForm a{
    align-self: center;
    color: #e61601;

}